
/* CSS */
.reflex-button {
    position: relative;
    height: 500px;
    min-width:341px;

    top:120px;
    
    background: #B14855;
    border-radius: 46px;
}

.reflex-button, select, textarea{
    color: var(--text);
    font-size: 100px;
}