
/* CSS */

.reflex-container{

    box-sizing: border-box;
    border-radius:7%;
    word-wrap: break-word;
    max-width: 1000px;
}
.reflex-button {
    position: relative;

    height: 528px;
    border:1px solid gray;

    top:100px;
    
    background: #B14855;
    border-radius: 46px;
}

.reflex-button, select, textarea{
    color: var(--text);
    font-size: 100px;
}