
/* CSS */

.reflex-container{
    overflow: auto;
    position: absolute;
}
.reflex-button {
    position: relative;
    height: 500px;
    width: 1100px;
    min-width:400px;
    top:100px;
    
    background: #B14855;
    border-radius: 46px;
}

.reflex-button, select, textarea{
    color: var(--text);
    font-size: 100px;
}