
/* CSS */
.reflex-button {
    position: absolute;
    height: 500px;
    min-width:1100px;
    margin-bottom:100px;
    top:120px;
    
    background: #B14855;
    border-radius: 46px;
}

.reflex-button, select, textarea{
    color: var(--text);
    font-size: 100px;
}