:root {
    --background:#2B303A;
    --highlight:#ED982A;
    --text:#FFEBCD;
}

* {
    position: relative;
    width: 1920px;
    height: 1080px;
    
    background: #2B303A;
    border-radius: 21px;
  }

.home-title{
    position: relative;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 167px;

    color: #D9394C;

}

