:root {
    --background:#2F383E;
    --highlight:#ED982A;
    --text:#FFEBCD;
}

* {
    background-color: var(--background);
    color: var(--text);
    font-family: 'DMSans-Regular', 'sans-serif';
  }



