.game-title{
    position: relative;
    font-size: 90px;
    top:50px;
}

.game-subtitle{
    position: relative;
    font-size: 25px;
    top:60px;
    color: var(--text);
}

@media screen and (max-width: 1110px) {
    .game-title{
        font-size: 80px;
    }
    .game-subtitle{
        font-size: 25px;
    }
}


@media screen and (max-width: 768px) {
    .game-title{
        font-size: 60px;
        top:20px;
    }
    .game-subtitle{
        font-size: 50px;
        top:30px;
    }
}
    

@media screen and (max-width: 575px) {
    .game-title{
        font-size: 40px;
        top:60px;
        text-align: center;
        display: inline-block;
        width: auto;
        word-break: break-word;
        line-height: 50px;
    }
    .game-subtitle{
        font-size: 17px;
        top:100px;
        text-align: center;
        display: inline-block;
        word-break: break-word;
        width: 60%;
    }
}
    