*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

.main-container{
    height: 100vh;
    background: var(--background);
}
.dash-title{
    position: absolute;
    height: 140px;
    left: calc(50% - 622px/2);
    top: calc(50% - 110px/2 - 130px);
}