.main-container{
    height: 100vh;
    background: var(--background);
}
.dash-title{
    position: absolute;
    width: 654px;
    height: 133px;
    left: calc(50% - 654px/2);
    top: calc(50% - 133px/2 - 340px);
}